<div class="container">
  <div class="panel" style="padding: 20px;">
    <div class="alert alert-success text-center" role="alert">You've successfully signed up.</div>
    <h1 class="text-center">We'll contact you as soon as possible</h1>

    <br/>

    <%= link_to raw("<i class=\"fa fa-arrow-left\"></i> Back to Site"), root_url, :class=>"btn btn-default btn-block btn-lg" %>
  </div>

</div>