<%= render :partial => 'layouts/navs' %>

<div class="hero">
	
</div>
<section class="feature overview">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<%= image_tag "cctv.png", :class=>"responsive" %>
				
			</div>
			<div class="col-sm-7">
				<h1>Long Term CCTV Recording</h1>
				<p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising on video quality, or using secondary streams.</p>
			</div>
		</div>
	</div>
</section>
<section class="feature overview">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1>COLUMN</h1>
				<p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising on video quality, or using secondary streams.</p>
			</div>
			<div class="col-sm-5">
				<%= image_tag "qdrive.png", :class=>"responsive" %>
			</div>
		</div>
	</div>
</section>
<section class="feature overview">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<%= image_tag "construction.png", :class=>"responsive" %>
			</div>
			<div class="col-sm-7">
				<h1>COLUMN</h1>
				<p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising on video quality, or using secondary streams.</p>
				
			</div>
		</div>
	</div>
</section>
<section class="feature dark brands">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel">Safeway</div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
			<div class="col-xs-6 col-sm-3"><div class="brand-panel"></div></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
