<!-- QDrive APP MODAL -->
<div class="modal fade" id="CCTVModal" tabindex="-1" role="dialog" aria-labelledby="CCTVModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: url(<%= image_url 'blur/wide.jpg' %>) center center no-repeat">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="CCTVModalLabel">Modal title</h4> -->
        <%= image_tag "qcctv.png", :class=>"responsive" %>
      </div>
      <div class="modal-body">

        
          
            <h1>Long Term CCTV Recording</h1>
            <p class="lead">We offer a cost-effective solution for storing CCTV footage for up to one year, without compromising video quality, or using secondary streams.</p>
        
            <%= image_tag 'svr/synq-box.jpg', :style=>"width: 100% !important; max-width: 960px;" %>
            <p>A CCTV monitoring system can provide a number of benefits to your business. However, we have learned that in this industry, one of the most significant issues our clients face with their monitoring systems is data retention that is cost effecitve.</p>
            <p>Today, most CCTV Monitoring sytems hold data for a maximum of 2-3 months, and this presents several liability issues ranging from slips, trips and falls in the workplace, to assault and false arrest accusations toward loss prevention officers.</p>
            <p>Synq Access and Security Technology has recognized this as a major issue in our field, and we now have the ability to offer you a solution for the data retention you need, without compromising on video quality or using secondary streams.</p>
            <p>We do this by directly working with manufacturers to bring you a cost effective platform, customized for the CCTV and Security industry. As one of the only companies in Canada able to offer this solution, Synq Access and Security Technology stands out as a unique company that is committed to meeting your company's security needs</p>
          

        

          
        <h3>General</h3>
        <table class="table table-striped">
          <tr>
            <td>Rack Mount</td>
            <td>4U</td>
          </tr>
          <tr>
            <td>Power Supply</td>
            <td>110VAC / 850 W (1+1 Redundant)</td>
          </tr>
          <tr>
            <td>USB</td>
            <td>2 (external)</td>
          </tr>
          <tr>
            <td>LAN</td>
            <td>2x1 GB RJ45 + 1x 1GB RJ45 (IPMI)</td>
          </tr>
          <tr>
            <td>CPU</td>
            <td>Intel Xeon</td>
          </tr>
          <tr>
            <td>RAM</td>
            <td>16 GB</td>
          </tr>
          <tr>
            <td>OS</td>
            <td>MS Windows 8.1 Pro</td>
          </tr>
        </table>


        <h3>Video</h3>
        <table class="table table-striped">
          <tr>
            <td>Chipset</td>
            <td>NVIDIA GeForce GTX 650 Ti</td>
          </tr>
          <tr>
            <td>Video Memory</td>
            <td>2GB GDDR5</td>
          </tr>
          <tr>
            <td>Memory Interface</td>
            <td>128-bit</td>
          </tr>
          <tr>
            <td>Core Clock</td>
            <td>941 MHz</td>
          </tr>
          <tr>
            <td>CUDA Cores</td>
            <td>768</td>
          </tr>
          <tr>
            <td>Monitor Ports</td>
            <td>DVI x2, HDMI x2, VGA x1 (4 hi-res monitors + 1 standard VGA)</td>
          </tr>
          <tr>
            <td>Max Resolution</td>
            <td>2560x1600</td>
          </tr>
          <tr>
            <td>API</td>
            <td>DirectX 11, OpenGL 4.3</td>
          </tr>
        </table>

        <h3>Storage</h3>
        <table class="table table-striped">
          <tr>
            <td>Hard Drive Bays (for video recording)</td>
            <td>45 x 3.5" SATA3 (Hot Swap)</td>
          </tr>
          <tr>
            <td>Data Transfer Rate</td>
            <td>6 GB/s (mini-SAS)</td>
          </tr>
          <tr>
            <td>Boot Drive</td>
            <td>500 GB SSD</td>
          </tr>
        </table>
      
        <h3>Other</h3>
        <table class="table table-striped">
          <tr>
            <td>IP Cameras, fast domes, and DVRS/NVRS are supported</td>
          </tr>
          <tr>
            <td>1080p/3M/5M Network Streaming</td>
          </tr>
          <tr>
            <td>Failover, video archive, and SmartSearch support</td>
          </tr>
          <tr>
            <td>Dual streaming and decoding mode support</td>
          </tr>
          <tr>
            <td>Support Remote or local multi channel playback</td>
          </tr>

        </table> 

        <hr>
        <center>
          <div class="well">
          
            <h4>Additional Benefits</h4>
            *Intelligent Platform Management Interface(PMI)<br/>
            *Use in-store or as a centralized server, streaming media feeds or pack uploads during off-hours<br/>
            *Made in Canada<br/>
            *Drive failure alarm buzzer and LED indicator<br/>
            *High Point Intelligent Storage Health Manager<br/>
            *Over 2TB of drive support<br/>
            *Energy efficient: Staggered drive spinup reduces power on startup<br/>
            *3 year warranty<br/>
          </div>


          <h2>Subscription Service Also Available</h2>
          <p class="lead">All the benetits of your own server, one monthly payment.</p>
          <%= image_tag 'more/subscription.png', :class=>"responsive" %>
          <hr>
          <p class="small">Contact Us Today!</p>
          <h2>778-440-2005</h2>
          <a href="mailto:contact@synqtech.com">contact@synqtech.com</a>

        </center>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>