<!-- QDrive APP MODAL -->
<div class="modal fade" id="AppModalQDrive" tabindex="-1" role="dialog" aria-labelledby="AppModalQDriveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: url(<%= image_url 'blur/qdrive.jpg' %>)">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!-- <h4 class="modal-title" id="AppModalQDriveLabel">Modal title</h4> -->
        <%= image_tag "qdrive.png", :class=>"responsive" %>
      </div>
      <div class="modal-body">
        
      <!-- BODY OF QDRIVE DESCRIPTION -->

        <%= image_tag "more/qdrive-install-steps.svg", :style=>'width: 100%' %>


      <!-- BODY END -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>