<div class="quote_line">
<div class="row">
	<div class="col-sm-4">
		<strong><%= ql.name %></strong>
		<p><%= ql.description %></p>
	</div>
	<div class="col-sm-4">
		<%= f.number_field :qty, :value=>1 %>
	
	</div>
	<div class="col-sm-4">
		<%= f.text_field :discount, :value=>0 %>
	</div>
</div>
	
</div>