/* Standard syntax */
@keyframes whoosh {
    0%   {
    	-ms-transform: translate(100px,0);
    	-moz-transform: translate(100px,0);
    	-webkit-transform: translate(100px,0);
    	transform: translate(100px,0);
    }
    100% {
    	-ms-transform: translate(0,0);
    	-moz-transform: translate(0,0);
    	-webkit-transform: translate(0,0);
    	transform: translate(0,0);
    }
}

.whoosh-left {
	position: absolute;
	z-index: 100;
	opacity:1;
	top: 70px;
	left: 5%;

    -webkit-animation: whoosh 0.5s normal forwards; 
    -moz-animation:    whoosh 0.5s normal forwards;
    -o-animation:      whoosh 0.5s normal forwards;

    .btn-round {
    	padding: 18px;
    	height: 60px;
    	width: 60px;
    	border-radius: 50px;
    	color: #fff;
    	background: none;
    	border: 2px solid #fff;
    	text-align: center;

    	&:hover {
    		background: #fff;
    		color: rgb(31, 124, 193);
    	}
    }

}