/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,900,700|Roboto+Condensed:400,700,300);

body {
	font-family: 'Roboto',sans-serif;
}

h1, h2, h3 {
	font-weight: 900;
	&.light {
		color: #fff;
	}
}


nav {

}
.sm-menu {
	float: right;
	margin: 0px;
	padding: 0px;

	li {
		
		display: inline-block;
		list-style: none;
		margin-top: 5px;
		
		a {
			padding: 0px 10px;
			font-size: 16px;
			color: #fff;
			border: 1px solid rgba(0,0,0,0);
			border-radius: 20px;
			display: block;
			text-decoration: none;
			line-height: 28px;
			-webkit-transition: 200ms;
			-moz-transition: 200ms;
			-ms-transition: 200ms;
			-o-transition: 200ms;
			transition: 200ms;

			&:hover {
				border: 1px solid #fff;
			}
			&.special {
				margin-top: none;
				line-height: 37px;
				background: #fff;
				color: #53C2FD;
			}
		}
	}

}
.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 50px;

	.brand {
		float: left;
		img {
			height: 50px !important;
			width: 150px !important;	
		}
		
	}
}
.header-fade {
	/* Rectangle 6: */
	background-image: -o-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -moz-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -ms-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: linear-gradient(-180.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
}
.header-fade-dark {
	/* Rectangle 6: */
	background-image: -o-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.8) 83%, rgba(54, 135, 197, 0.8) 100%);
	background-image: -moz-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.8) 83%, rgba(54, 135, 197, 0.8) 100%);
	background-image: -ms-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.8) 83%, rgba(54, 135, 197, 0.8) 100%);
	background-image: linear-gradient(-180.5deg, rgba(65, 165, 233, 0.8) 83%, rgba(54, 135, 197, 0.8) 100%);
}
section {	
	
	padding-top: 50px;
	padding-bottom: 50px;
	.desc-imgs {
		img {
			display: inline-block;
			width: 23%;
			max-width: 80px;


		}
		
	}

	&.title {
		padding: 50px;
		// background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
		text-align: center;

		h1 {
			font-size: 4em;
			color: #fff;

		}

	}
}

.hero {
	background-image: -o-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: -moz-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: -ms-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: linear-gradient(-179deg, #53C2FD 0%, #284CAE 100%);
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;



}
.phone {
	background: #284CAE;

	h1 {
		color: #fff;
		font-size: 60px;
		font-weight: 100;
	}
}
.feature {

	&:nth-child(odd) {
		background: #f4f4f4;
	}
	padding-top: 50px;
	padding-bottom: 50px;

	&.dark {
		background: #f4f4f4;

		&.brands .brand-panel {
			text-align: center;
			border: 1px solid #d8d8d8;
			background: #fff;
			padding: 25px 0px;
			margin-bottom: 20px;
			// border-radius: 3px;
			img {
				height: 75px;
				width: 100px;
			}
		}
	}


	img {
		max-width: 256px;
		height: auto;
		horizontal-align: center;
		display: block;
		margin: 0px auto;
	}
}
.modal {
	z-index: 10000000000000000;
	.modal-content {

		.modal-body {
			.sub-feature {
				&:nth-child(odd) {
					// background: #fafaff;
					
				}
				img.small-responsive {
					margin-top: 40px !important;
					width: 90%;
					height: auto;
					display:block;
					margin: 0px auto;
				}
			}	

		}

		
		.modal-header {
			img {
				display: block;
				width:75%;
				max-width: 128px;
				height: auto;
				margin: 0px auto;

			}
		}	
	}
}

.panel {

	&.panel-thumb {
		// border-radius: 5px;
		img {
			max-width: 180px;
			width: 100%;
			display:block;
			margin: 20px auto;

			/* TRANSITION ITEMS */
			-webkit-filter: saturate(0);
			-moz-filter: saturate(0);
			-ms-filter: saturate(0);
			filter: saturate(0%);
			opacity: 0.5;

			-webkit-transition: 200ms;
			-moz-transition: 200ms;
			-ms-transition: 200ms;

		}

		&:hover {
			img {
			-webkit-filter: saturate(1);
			-moz-filter: saturate(1);
			-ms-filter: saturate(1);
			filter: saturate(1);
			opacity: 1;
			}
		}

		.btn {
			@extend .btn-default;
  			background-color: #a4a4a4;
  			color: #fff;
  			border: 5px solid #fff !important;
  			
  			&:hover {	
  				background-color: #aeaeae;
  				color: #fff;
  			}
		}
		border: 1px solid #d8d8d8 !important;
	}


}

.panel-dark {
	@extend .panel.panel-thumb;
	background: rgba(0,0,0,.25);
	border: none !important;
	// border-radius: 8px !important;
	padding: 5px !important;
	color: #fff;
	margin-bottom: 30px;
	img {
		opacity: 1;
	}

	.btn {
		border: 1px solid #fff !important;
		background: none !important;
		color: #fff;
	}
}
.panel-red {
	@extend .panel.panel-thumb;
	background: rgba(255,255,255,0.5);
	border: none !important;
	border-radius: 7px !important;
	padding: 5px !important;
	color: #6a6a6a;
	margin-bottom: 30px;
	h3 {
		color: red;
	}
	img {
		opacity: 1;
	}

	.btn {
		border: 1px solid red !important;
		background: none !important;
		color: red;
		&:hover {
			color: #fff !important;
			background: red !important;
		}
	}
}

.fh-contact {
	height: 300px;
	min-width: 320px;
	background: #468fff;
	width: 50%;
	float: left;
}
.fh-location {
		background: #2061cf;
		height: 300px;
		width: 50%;
		min-width: 320px;
		float: left;
}

@media screen and (max-width: 640px) {
	.fh-contact {
		width: 100% !important;
		
		float: none;
	}
	.fh-location {
		width: 100% !important;
		
		float: none;
	}
}

.responsive {
	width: 100%;
	height: auto;
}
.center {
	text-align:center;
}
.center-img {
	display: block;
	margin: 0px auto;
}
.container-half-l {
	width: 100%;
	float:right;
	padding: 20px;
	max-width: 571px;
	
}
.container-half-r {
	width: 100%;
	float:left;
	padding: 20px;
	max-width: 571px;
	
}
.footer {
	max-width: 100%;
}
#acumen {
	background-attachment: fixed;
	position: relative;
	min-height: 800px;
	background-size: auto;
	color: #fff;
	.overlay {
		background-color: rgba(61, 152, 224, 0.5);
		background-image: -o-linear-gradient(90deg, rgba(116, 188, 255, 0.6) 0%, rgba(116, 188, 255, 0.4) 100%);
		background-image: -moz-linear-gradient(90deg, rgba(116, 188, 255, 0.6) 0%, rgba(116, 188, 255, 0.4) 100%);
		background-image: -ms-linear-gradient(90deg, rgba(116, 188, 255, 0.6) 0%, rgba(116, 188, 255, 0.4) 100%);
		background-image: linear-gradient(180deg, rgba(116, 188, 255, 0.6) 0%, rgba(116, 188, 255, 0.4) 100%);
		top: 0; left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}