/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,900,700|Roboto+Condensed:400,700,300);

body {
	font-family: 'Roboto',sans-serif;
}

h1, h2, h3 {
	font-weight: 100;
	color: #269bdc;
	&.light {
		color: #fff;
	}
	&.red {
		color: red;
	}
}


nav {

}

.light {
	color: #269bdc !important;
}
.row.bordered{
	border: 2px solid lighten(#269bdc, 40%);
	border-radius: 5px;
	padding: 25px !important;
	background: #fff !important;
}
.contact-wrap {
	
	width: auto;
	margin: 0px auto 25px auto;
	padding: 20px;
	color: #fff !important;
	width: 80%;
	
	h1 {
		color: #fff !important;
		margin-top: 0px !important;
	}
	h3 {
		color: #fff !important;
	}
	a {
		color: #fff !important;
	}
}
.sm-menu {
	float: right;
	margin: 0px;
	padding: 0px;

	li {
		
		display: inline-block;
		list-style: none;
		
		
		a {
			padding: 0px 10px;
			margin-top: 8px;
			font-size: 16px;
			color: #269bdc;
			border: 1px solid rgba(0,0,0,0);
			border-radius: 20px;
			display: block;
			text-decoration: none;
			line-height: 28px;
			-webkit-transition: 100ms;
			-moz-transition: 100ms;
			-ms-transition: 100ms;
			-o-transition: 100ms;
			transition: 100ms;
			border-radius: 20px;
			&:hover {
				
			}
			&.special {
				margin-top: 3px;
				line-height: 32px;
				background: #269bdc;
				border-radius: 20px;
				padding-right: 15px; padding-left: 15px;
				color: #fff;
				&:hover {
					background: lighten(#269bdc, 10%);
				}
			}

			&.active {
				border-width: 1px;
				border-style: solid;
				border-color: #269bdc;
			}
			&.active:hover {
			}

		}
	}

}
.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 50px;

	padding-top: 15px;
	height: 80px;
	.brand {
		float: left;
		img {
			height: 50px !important;
			width: 50px !important;	
		}
		
	}
}
.header-secondary {
	position: fixed;
	z-index: 1000;
	height: 50px;
	padding-top: 0px;
	a {
		color: #fff !important;
	}
	a.special {
		background: rgba(255,255,255,.8) !important;
		color: #269bdc !important;
	}
	a:hover {
		border-color: #fff;
	}
	a.active {
		background: rgba(255,255,255,1) !important;
		color: #269bdc !important;
	}
}
.header-fade {
	/* Header */
	background-image: -o-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -moz-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -ms-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: linear-gradient(-180.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	border-bottom: 1px solid #d8d8d8;
}
.header-fade-flip { 
	/* Under Header */
	background-image: -o-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -moz-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: -ms-linear-gradient(-91.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	background-image: linear-gradient(1.5deg, rgba(25,25,25,0.05) 83%, rgba(0,0,0,0.15) 100%);
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
.header-fade-blue-flip {
	background: #2cb4ff; /* Old browsers */
	padding: 0px !important;
	margin: 0px !important;
}

.hero-about {
	
	min-width: 320px;
	background: #269BDC;
	width: 50%;
	float: left;

	box-sizing: border-box;

	h3 {
		color:#fff !important;
	}
	color: lighten(#269bdc, 40%);	

	padding: 50px 0px 50px 0;

	.inner-half-width {
		padding-right: 25px;
		float: right;
	}

}
.hero-contact {
	
	box-sizing: border-box;
	
	color:#fff;
		
	width: 50%;
	min-width: 320px;
	float: left;

	padding: 50px 0px 0px 0;
	
	.inner-half-width {
		float: left;
		padding-left: 25px;	
	}
}
.brags {
	background: #2390CC;
	.brag {
		h4 { color: #fff !important}
		color: lighten(#269bdc, 40%);
		padding-bottom: 50px;
		padding-top: 50px;

		span.header-icon {
			color: #2cb4ff;
			font-size: 4em;
			text-align: center;
		}

	}
}

hr.ghost {
	opacity: 0;
}
.header-fade-dark {
	/* Nav Bar */
	background-image: -o-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.89) 83%, rgba(54, 135, 197, 0.89) 100%);
	background-image: -moz-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.89) 83%, rgba(54, 135, 197, 0.89) 100%);
	background-image: -ms-linear-gradient(-91.5deg, rgba(65, 165, 233, 0.89) 83%, rgba(54, 135, 197, 0.89) 100%);
	background-image: linear-gradient(-180.5deg, rgba(65, 165, 233, 0.89) 83%, rgba(54, 135, 197, 0.89) 100%);
}
section {	
	
	padding-top: 50px;
	padding-bottom: 50px;
	.desc-imgs {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 400px;
		img {
			display: inline;
			width: 10%;
			float: none;
			max-width: 80px;
			margin: 0px 10px 40px 10px;
			min-width: 50px;

		}
		
	}

	&.title {
		padding: 50px;
		// background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: contain;
		text-align: center;

		h1 {
			font-size: 4em;
			color: #fff;

		}

	}
	&.no-pad {
		padding: 0px !important;
	}
}

.hero {
	
	height: 400px !important;
}
.blue {
	background-image: -o-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: -moz-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: -ms-linear-gradient(-89deg, #53C2FD 0%, #284CAE 100%);
	background-image: linear-gradient(-179deg, #53C2FD 0%, #284CAE 100%);
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.phone {
	background: #284CAE;

	h1 {
		color: #fff;
		font-size: 60px;
		font-weight: 100;
	}
}
.feature {

	&:nth-child(odd) {
		background: #f4f4f4;
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
	}
	padding-top: 50px;
	padding-bottom: 50px;

	&.dark {
		background: #f4f4f4;

		&.brands .brand-panel {
			text-align: center;
			border: 1px solid #d8d8d8;
			background: #fff;
			padding: 25px 0px;
			margin-bottom: 20px;
			// border-radius: 3px;
			img {
				height: 75px;
				width: 100px;
			}
		}
	}


	img {
		max-width: 256px;
		height: auto;
		horizontal-align: center;
		display: block;
		margin: 0px auto;
	}
}
.modal {
	z-index: 10000000000000000;
	.modal-content {

		.modal-body {
			.sub-feature {
				&:nth-child(odd) {
					// background: #fafaff;
					
				}
				img.small-responsive {
					margin-top: 40px !important;
					width: 90%;
					height: auto;
					display:block;
					margin: 0px auto;
				}
			}	

		}

		
		.modal-header {
			img {
				display: block;
				width:75%;
				max-width: 128px;
				height: auto;
				margin: 0px auto;

			}
		}	
	}
}

.panel {
	.panel-header {
		img {
			height: 150px;
			width: auto;
			padding: 20px;
		}
		background-size:cover !important;
		background-position: center center;
	}
	.panel-body {
		padding: 25px;
		h3 {
			margin: 0px;
			font-size: 1.3em;
		}
	}
	&.panel-thumb {
		border-radius: 2px;

		img {
			max-width: 180px;
			
			display:block;
			

			/* TRANSITION ITEMS */
			// -webkit-filter: saturate(0);
			// -moz-filter: saturate(0);
			// -ms-filter: saturate(0);
			// filter: saturate(0%);
			opacity: 0.8;

			-webkit-transition: 200ms;
			-moz-transition: 200ms;
			-ms-transition: 200ms;

		}

		&:hover {
			img {
			-webkit-filter: saturate(1);
			-moz-filter: saturate(1);
			-ms-filter: saturate(1);
			filter: saturate(1);
			opacity: 1;
			}

			.btn {  
				background: lighten(#269bdc, 10%);			
				&:hover {	
	  				background: lighten(#269bdc, 0%);
	  				color: #fff;
	  			}
			}
		}

		.btn {
			@extend .btn-default;
  			background-color: lighten(#269bdc, 20%);
  			color: #fff;
  			border: 5px solid #fff !important;
  			cursor: pointer !important;

		}
		border: 2px solid lighten(#269bdc, 40%);
	}


}

.panel-dark {
	@extend .panel.panel-thumb;
	background: rgba(0,0,0,.25);
	border: 1px solid #d8d8d8;
	// border-radius: 8px !important;
	padding: 5px !important;
	color: #fff;
	margin-bottom: 30px;
	img {
		opacity: 1;
	}

	.btn {
		border: 1px solid #fff !important;
		background: none !important;
		color: #fff;
	}
}
.panel-red {
	@extend .panel.panel-thumb;
	background: rgba(255,255,255,0.5);
	border: 1px solid #d8d8d8;
	
	box-shadow: 0px 1px 1px rgba(0,0,0,.15) !important;

	border-radius: 3px !important;
	padding: 5px !important;
	color: #6a6a6a;
	margin-bottom: 30px;
	h3 {
		color: red;
	}
	img {
		opacity: 0.8;
	}

	.btn {
		border: 1px solid red !important;
		background: none !important;
		color: red;
		font-size: 12px;
		border-radius: 1px;
		&:hover {
			color: #fff !important;
			background: red !important;
		}
	}
}

.absolute-div-wrap {
	width: 100%;
	overflow: hidden;
	position: absolute;
	&.height-400 {
		height: 400px;
		
	}

}


.responsive {
	width: 100% !important;
	height: auto !important;
	

}
.center {
	text-align:center;
}
.center-img {
	display: block;
	margin: 100px auto;
	width: 90%;
	min-width: 200px;
	max-width: 640px;
}
.container-half-l {
	width: 100%;
	float:right;
	padding: 20px;
	max-width: 571px;
	
}
.container-half-r {
	width: 100%;
	float:left;
	padding: 20px;
	max-width: 571px;
	
}
.footer {
	color: white !important;
	background: #40a4e8;
	max-width: 100%;
	h1 {
		color: #fff !important;
	}
	hr {
		border: 1px solid  rgba(255,255,255,.25);
	}
	i {
		font-size: 32px;
		color: #fff;
		text-shadow: 0px 1px 10px rgba(0,0,0,.15);
	}
	a {
		color: #bce6ff;
	}

	.well {
		color: #fff;
		background: rgba(0,0,0,.25);
		border: none;
	}
	.btn {
		background: rgba(00,0,0,.25);
		border: rgba(0,0,0,.5);
		color: #fff;
		i {
			font-size: inherit;
		}
		&:hover {
			background: rgba(0,0,0,.55);
			color: #fff;
		}
	}
}

@media screen and (max-width: 640px) {
	.hero-about {
		width: 100% !important;
		
		float: none;
	}
	.hero-contact {
		width: 100% !important;
		
		float: none;


	}
	.inner-half-width {
		width: 100%;
		float: none !important;
	}
	img {
		opacity: 1 !important;
	}

	.row.bordered{
		border: 0px solid #269bdc;
		border-radius: 5px;
	}

	.brag {

		margin-top: 13px !important;
		margin-bottom: 13px !important;
	}

	.panel-thumb {
		border-width: 1px;
	}

	.panel-body {
		font-size: .8em;
		padding: 12px !important;
		margin: 0px;

	}
	div[class^="col"]{padding-left:10px; padding-right:10px;}
}
