<div class="header header-fade hidden-xs">
	<div class="container">
		<div class="brand">
			<%= image_tag 'q-small.png' %>
		</div>
		<nav class="hidden-xs pull-right">

			<ul class="sm-menu">
				
				<li><a href="#about" class="nav-about">About</a></li>
				<li><a href="#products" class="nav-products">Products</a></li>
				<li><a href="#cameras" class="nav-cameras">Cameras</a></li>
				<li><a href="#eas" class="nav-eas">EAS</a></li>
				<li><a href="#contact" class="nav-contact special">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="header header-secondary header-fade-dark hidden-xs">
	<div class="container">
		<div class="brand">
			<%= image_tag 'q-small-white.png' %>
		</div>
		<nav class="hidden-xs pull-right">

			<ul class="sm-menu">
				<li><a href="#about" class="nav-about">About</a></li>
				<li><a href="#products" class="nav-products">Products</a></li>
				<li><a href="#cameras" class="nav-cameras">Cameras</a></li>
				<li><a href="#eas" class="nav-eas">EAS</a></li>
				<li><a href="#contact" class="nav-contact special">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</div>

<nav class="mobile-nav header-fade-dark visible-xs">
	<div class="nav-top">
		<div class="action-left"></div>
		<div class="logo"><%= image_tag 'q-small-white.png' %></div>
	</div>
	<div class="nav-contents-wrap">
		<ul class="nav-contents">
			<li><a href="#about" class="nav-about">About</a></li>
			<li><a href="#products" class="nav-products">Products</a></li>
			<li><a href="#cameras" class="nav-cameras">Cameras</a></li>
			<li><a href="#eas" class="nav-eas">EAS</a></li>
			<li><a href="#contact" class="nav-contact special">Contact Us</a></li>
		</ul>
	</div>
</nav>