<div class="header header-fade hidden-xs">
	<div class="container">
		<div class="brand">
			<%= image_tag 'brand.png' %>
		</div>
		<nav class="hidden-xs pull-right">

			<ul class="sm-menu">
				<li><a href="#">About</a></li>
				<li><a href="#">Upcoming</a></li>
				<li><a href="#" class="special">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</div>
<nav class="mobile-nav header-fade-dark visible-xs">
	<div class="nav-top">
		<div class="action-left"></div>
		<div class="logo"><%= image_tag 'brand.png' %></div>
	</div>
	<div class="nav-contents-wrap">
		<ul class="nav-contents">
			<li><a href="#">About</a></li>
			<li><a href="#">Upcoming</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</nav>